nav {
    background-color: #4CAF50;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a6d42;
}

nav li {
    float: left;
    width: 12.5%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#current {
    background-color: #faf1bd;
    color: black;
}

nav li a:hover {
    background-color: #faf1bd;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 12.5%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../images/3.5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.A h2 {
    text-align: center;
    font-size: 4rem;
}

.A h4, .B h4, .C h4, .D h4, .E h4 {
    text-align: center;
    font-size: 2rem;
    color: #2E961CFF;
}

.A, .B, .C, .D, .E {
    text-align: center;
    border: 5px solid rgba(46, 150, 28, 0.33);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 85%;
    margin: 3rem auto;
    padding: 1rem;
}

.C .content, .D .content, .E .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.image-C, .image-D, .image-E {
    width: 30%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 0 2rem;
    display: block;
    position: static;
    transition: transform 0.5s ease;
}

.image-C:hover, .image-D:hover, .image-E:hover {
    transform: scale(1.2);
}

.image-F, .image-G, .image-H {
    width: 23%;
    height: auto;
    border-radius: 10px;
    margin: 2rem auto;
    display: block;
    position: static;
    transition: transform 0.5s ease;
}

.image-F:hover, .image-G:hover, .image-H:hover {
    transform: scale(1.2);
}
