nav{
    background-color: #4CAF50;    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a6d42;
}

nav li {
    float: left;
    width: 12.5%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


#current{
    background-color: #faf1bd;
    color: black;
}

/* 改变背景色和文本颜色，当用户将鼠标悬停在链接上 */
nav li a:hover {
    background-color: #faf1bd;
    color: black;
}

/* 下拉框样式 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 12.5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 悬停时显示下拉框 */
.dropdown:hover .dropdown-content {
    display: block;
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.A h2 {text-align: center;
    font-size: 4rem;

}
.A h4{
    text-align: center;
    font-size: 2rem;
    color: #2E961CFF;
}
.A{
    text-align: center;
}
.B{
    text-align: center;font-size: 20px;
    border: 5px solid rgba(46, 150, 28, 0.33);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);    width: 85%;
    margin-left: 8%;
}
.C{
    text-align: center; /* 容器内文本居中，但这对我们的解决方案不直接起作用 */

}
.C h4{
    text-align: center;
    font-size: 2rem;
    color: #2E961CFF;



}
.image-C{
    width: 23%; /* 将图片宽度设置为容器宽度的50% */
    height: auto; /* 高度自动调整以保持图片的原始宽高比 */
    border-radius: 10px; /* 圆角边框 */
    margin: 20px; /* 外边距 */
    display: block; /* 使图片成为块级元素，便于控制布局 */
    position: absolute;
    top: 55vh;
    left: 10vh;

    transition: transform 0.5s ease;
}


.image-C:hover {
    transform: scale(1.2);
}
.D{
    text-align: center; /* 容器内文本居中，但这对我们的解决方案不直接起作用 */

}
.D h4{
    text-align: center;
    font-size: 2rem;
    color: #2E961CFF;
}
.image-D{
    width: 23%; /* 将图片宽度设置为容器宽度的50% */
    height: auto; /* 高度自动调整以保持图片的原始宽高比 */
    border-radius: 10px; /* 圆角边框 */
    margin: 20px; /* 外边距 */
    display: block; /* 使图片成为块级元素，便于控制布局 */
    position: absolute;
    top: 75vh;
    right: 10vh;
    transition: transform 0.5s ease;
}
.image-D:hover {
    transform: scale(1.2);
}
.E{
    text-align: center; /* 容器内文本居中，但这对我们的解决方案不直接起作用 */

}
.E h4{
    text-align: center;
    font-size: 2rem;
    color: #2E961CFF;
}
.image-E{
    width: 23%; /* 将图片宽度设置为容器宽度的50% */
    height: auto; /* 高度自动调整以保持图片的原始宽高比 */
    border-radius: 10px; /* 圆角边框 */
    margin: 20px; /* 外边距 */
    display: block; /* 使图片成为块级元素，便于控制布局 */
    position: absolute;
    top: 100vh;
    left: 10vh;
    transition: transform 0.5s ease;
}
.image-E:hover {
    transform: scale(1.2);
}
body{
    background-image: url("../images/3.5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.image-container {
    display: flex; /* 使用Flexbox布局来并排显示图片 */
    flex-wrap: wrap; /* 如果需要，允许图片换行显示 */
    justify-content: space-around; /* 在主轴上平均分配空间 */
    margin: 20px;
}

.gallery-image {
    width: 30%; /* 设置图片的宽度为容器宽度的30% */
    margin: 10px; /* 图片之间的外边距 */
    border-radius: 8px; /* 图片边框圆角 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 图片阴影效果 */
    transition: transform 0.2s; /* 过渡效果，用于鼠标悬停等交互 */
}

.gallery-image:hover {
    transform: scale(1.05); /* 鼠标悬停时图片稍微放大 */
}