body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("../images/Science.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a6d42;
}

nav li {
    float: left;
    width: 12.5%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


#current{
    background-color: #faf1bd;
    color: black;
}

/* 改变背景色和文本颜色，当用户将鼠标悬停在链接上 */
nav li a:hover {
    background-color: #faf1bd;
    color: black;
}

/* 下拉框样式 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 12.5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 悬停时显示下拉框 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 可选：为下拉箭头添加一些样式 */
.dropdown a i {
    margin-left: 5px;
}

.table-2{
    align-content: center;
    background-color: rgba(255, 255, 255, 0.49);
    position: absolute;
    top: 20vh;
    left: 50vh;

    height: 20rem;
    width: 30rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;

    border-radius: 3rem;
    border: 1px #ccc solid;


    font-size: 2rem;
}
button[type="submit"] {
    background-color: #4CAF50; /* 绿色 */
    border: none;
    color: #2e961c;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 30rem;
    left: 30rem;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
/* styles.css */

/* 为所有输入框设置基本样式 */
input[type="text"]{
    width: 200px; /* 设置输入框的宽度 */
    padding: 10px; /* 设置输入框的内边距 */
    margin: 10px 20px; /* 设置输入框的外边距（上下为10px，左右为0） */
    border: 1px solid #4CAF50; /* 设置输入框的边框 */
    border-radius: 5px; /* 设置边框圆角 */
    box-sizing: border-box; /* 让输入框的宽度包含padding和border */
}

/* 为特定类型的输入框设置特殊样式（例如，电子邮件输入框） */
input[type="email"] {
    background-color: rgba(116, 181, 115, 0.51); /* 设置电子邮件输入框的背景颜色 */
}

/* 当输入框获得焦点时，改变其边框颜色 */
input[type="text"]:focus,
input[type="email"]:focus {
    border-color: rgba(83, 159, 118, 0.93); /* 聚焦时改变边框颜色 */
    outline: none; /* 移除聚焦时的默认轮廓 */
}

/* 还可以为输入框添加鼠标悬停时的样式，尽管这在输入框上可能不那么常见 */
input[type="text"]:hover,
input[type="email"]:hover {
    box-shadow: 0 0 5px rgba(83, 159, 118, 0.62); /* 鼠标悬停时添加阴影效果 */
}