body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav {
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a6d42;
}

nav li {
    float: left;
    width: 20%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


#current{
    background-color: #faf1bd;
    color: black;
}

/* 改变背景色和文本颜色，当用户将鼠标悬停在链接上 */
nav li a:hover {
    background-color: #faf1bd;
    color: black;
}

/* 下拉框样式 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 悬停时显示下拉框 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 可选：为下拉箭头添加一些样式 */
.dropdown a i {
    margin-left: 5px;
}

.buyertable{
    background: rgba(168, 219, 168, 0.1);
}

.tableless thead{
    background-color: #4CAF50;
}

.tableless tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 242, 224);
}
.tableless {
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(168, 219, 168, 0.14);
}
.namelink{
    background: rgba(168, 219, 168, 0.65);
}

.tableless td, .tableless th {
    /*padding: 5px 10px;*/
    font-size: 1.2rem;
    padding: 1%;
    font-weight: bold;
    text-align: center;
    /*font-family: Verdana;*/
    color: rgb(59, 113, 134);
}

/* Alternating background colors */
.tableless tr:nth-child(even) {
    background: rgba(168, 219, 168, 0.25)
}
.tableless tr:nth-child(odd) {
    background: #FFF
}
.tableless tr:hover{
    background-color: rgba(204, 204, 204, 0.14);
}

.container {
    display: flex;
    width:100%;
    background: rgba(168, 219, 168, 0.14);
}
.search1{
    flex:3;
    margin-left: 1%;
    /*justify-content: space-between;*/
}
.search2{
    flex:1;
    margin-right: 1%;
}

.search1 form, .search2 form {
    display: flex; /* 同样使用Flexbox布局来排列表单内的元素 */
    align-items: center; /* 使输入框和按钮在垂直方向上居中对齐 */
}

.search1 form input[type="text"],.search2 form input[type="text"] {
    flex: 1; /* 使输入框占据剩余空间 */
    margin: 15px; /* 在输入框和按钮之间添加一些间距 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; /* 左侧圆角 */
    margin-right: 5px;
}

.search1 form input[type="submit"] ,.search2 form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 0 4px 4px 0; /* 右侧圆角 */
}
.search1 form input[type="submit"]:hover{
    background-color: #45a049; /* 鼠标悬停时的背景色 */
}
.search2 form input[type="submit"]:hover{
    background-color: #45a049; /* 鼠标悬停时的背景色 */
}