body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    overflow: hidden;
    /*position: fixed;*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a6d42;
}

nav li {
    float: left;
    width: 12.5%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


#current{
    background-color: #faf1bd;
    color: black;
}

/* 改变背景色和文本颜色，当用户将鼠标悬停在链接上 */
nav li a:hover {
    background-color: #faf1bd;
    color: black;
}

/* 下拉框样式 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 12.5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 悬停时显示下拉框 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 可选：为下拉箭头添加一些样式 */
.dropdown a i {
    margin-left: 5px;
}


body{
    background-image: url("../images/Science.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}
.box{
    display: flex;
    background: rgba(255, 255, 255, 0.71);
    height: 28rem;
    width: 80%;
    margin: 4rem;
    margin-left: 7%;
    border-radius: 4rem;
    padding: 2rem;
}
.img{
    flex: 1;
    /*background: rgba(168, 219, 168, 0.14);*/
    border-radius: 2rem;
    /*margin: 1rem;*/
    /*width: 80%;*/
}
.text{
    flex: 1;
    background: rgb(250, 253, 254);
    border-radius: 2rem;
}
.imgin{
    /*object-fit: cover;*/
    height: 95%;
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
    border-radius: 2rem;
}
.textin{
    /*background: rgba(168, 219, 168, 0.5);*/
    margin: 2rem;
    height: 90%;
}
h2{
    text-align: center;
}

.small{
    line-height: 3rem;
}

.btn {
    /*margin-top: 0.6rem;*/
    margin-left: 50%;
    display: inline-block; /* 让a标签像块级元素一样，可以设置宽高 */
    padding: 10px 20px; /* 内边距 */
    /*margin: 5px 0; !* 外边距 *!*/
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 去除下划线 */
    font-size: 15px; /* 字体大小 */
    font-weight: bold;
    color: #fff; /* 字体颜色 */
    background-color: rgb(76, 175, 80); /* 背景颜色 */
    border: none; /* 去除边框 */
    border-radius: 9px; /* 边框圆角 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    transition: background-color 0.3s; /* 平滑过渡效果 */
}

.btn:hover {
    background-color: rgb(69, 160, 73); /* 鼠标悬停时的背景颜色 */
}