<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act" id="current">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<br>

<div class="A">
    <h2>🎊奇妙探索季🎊</h2>
</div>
<div class="B">
    <h4>🌞“日观万物，夜探秘境”🌙</h4>
    <p>探索未知领域，与生灵共舞于璀璨星空下。<br>
        日夜双游模式，融合自然奇观与动物保护理念，诚邀您亲身体验，共筑和谐生态之梦！</p>
    <p>该活动采用日夜双游模式，白天可以近距离接触300余种珍稀野生动物，<br>
        夜晚则有精彩的主题演绎和互动活动，如奇幻马戏、夜探猛兽区、夜间巡游等，为游客带来一场前所未有的夜游盛宴。</p>
</div>
<div class="C">
    <div class="content">
        <div class="text">
            <h4>🎪奇幻马戏🎪</h4>
            <p>杂技演员通过高超的技巧和惊险的动作，<br>
                为观众带来视觉上的震撼。<br>
                魔术师通过巧妙的手法和视觉错觉，<br>
                为观众呈现出一场场神秘莫测的演出。<br>
                节假日还有限定表演，快来参加吧！</p>
        </div>
        <img src="../images/马戏.jpg" class="image-C">
    </div>
</div>
<div class="D">
    <div class="content">
        <div class="text">
            <h4>🐯夜探猛兽区🦁</h4>
            <p>游客可以乘坐特色导览车进入猛兽区，<br>
                近距离观察鬣狗、非洲狮、东北虎、<br>
                狼等猛兽在夜间的活跃状态。<br>
                这些猛兽在夜晚的活跃度大大提升，游客有机会看到<br>
                它们奔走、嬉戏、求偶等自然行为。</p>
        </div>
        <img src="../images/鬣狗.jpg" class="image-D">
    </div>
</div>
<div class="E">
    <div class="content">
        <div class="text">
            <h4>✨夜间巡游✨</h4>
            <p>20点 夜间巡游开启<br>
                伴随着音乐、舞蹈，点燃夏夜激情！</p>
        </div>
        <img src="../images/夜间巡游.jpg" class="image-E">
    </div>
</div>
<img src="../images/杂技.jpg" class="image-F">
<img src="../images/柿子.png" class="image-G">
<img src="../images/夜间巡游1.jpg" class="image-H">
</body>
</html>
