<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>动物园列表</title>
  <link rel="stylesheet" th:href="@{/css/adminproduct.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="http://localhost:8888/adminProductsPage" id="current">动物园门票信息管理</a>
    </li>
    <li><a href="http://localhost:8888/adminorder">门票订单信息管理</a></li>
    <li><a href="http://localhost:8888/ordersPage">研学信息管理</a></li>
    <li><a href="http://localhost:8888/AdmshopsPage">商品信息管理</a></li>
    <li><a href="http://localhost:8888/BuyerPage">商品订单信息管理</a></li>
  </ul>
</nav>
<div class="button">
  <form id="searchForm" action="/adminsearchProductsByStr" method="post">
    <input type="text" name="searchStr" id="searchStr">
    <input type="submit" value="搜索" class="btn">
  </form>
  <a th:href="@{/addProduct}" class="btn" id="add">添加动物园</a><br><br>
</div>
<div class="product-table">
  <table class="tableless">
    <tr>
      <th class="namelink">选择</th>
      <td class="namelink">编号</td>
      <td class="namelink">动物园名称</td>
      <td class="namelink">图片</td>
      <td class="namelink">简介</td>
      <td class="namelink">价格</td>
      <td class="namelink">已售数量</td>
      <td class="namelink">库存数量</td>
      <td class="namelink">所在地区</td>
      <td class="namelink">操作</td>
    </tr>
    <tr th:each="product:${products}">
      <td><input type="checkbox" class="ids" th:value="${product.id}"></td>
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td><img th:src="${product.img}" class="imgsize"></td>
      <td th:text="${product.introduction}"></td>
      <td th:text="${product.price}"></td>
      <td th:text="${product.sales}"></td>
      <td th:text="${product.pnum}"></td>
      <td th:text="${product.area}"></td>
      <td>
        <a th:href="@{'/toupdateproduct/'+${product.id}}" class="btn">编辑</a>
        <a th:href="@{'/deleteProduct/'+${product.id}}" class="btn">删除</a>
      </td>
    </tr>
  </table>
</div>
<div class="page">
  <input type="button" value="批量删除" onclick="dels()" class="btn" id="delete">
</div>
<script src="js/jquery-3.1.0.min.js"></script>
<script>
  function dels(){
    if (confirm("确定删除所选动物园吗？")){
      var ids = "";
      $(".ids").each(
              function (i,e){
                if($(e).is(":checked")){
                  var id=$(e).val();
                  ids+=id+",";
                }
              }
      );
      if(ids.length==0){
        alert("未选择任何动物园，请选择删除项！")
      }else {
        ids=ids.substr(0,ids.length-1);
        location.href="deleteBooks?id="+ids;//构造出类似deleteBooks?id=123这样的URL，后台可用数组接收
      }
    }
  }
</script>
</body>
</html>