<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/2.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act" id="current">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<br>

<div class="A">
<h2>🌈园际缤纷汇✨</h2></div><div class="B">
<h4>“共赏奇趣，悦动园界”</h4>

<p>跨越界限，共绘生态奇梦。昼夜联动盛宴，与万千生灵同欢，邀您亲历非凡之旅！</p>
<p>打破传统界限，将不同地域、不同种类的生态奇观汇聚一堂，<br>
    不仅是一场视觉与感官的极致享受，更是一次心灵的触动与生态意识的觉醒。
    </div>
<div class="C">
    <h4>🎉昼夜联动，生态奇观</h4>
    <p>白天，游客可以漫步于精心设计的生态园区，<br>
        近距离观赏来自世界各地的珍稀动植物，<br>
        感受大自然的鬼斧神工。<br>
        夜晚，则开启了一场光影与生命的梦幻之旅。<br>
        通过高科技光影秀、<br>
        夜间动物行为展示及互动灯光装置，<br>
        展现自然界的神秘与美丽，<br>
        让游客在夜幕下体验不一样的生态奇趣。
<img src="../images/A.1.jpg" class="image-C">

    </p>
</div>
<div class="D">
    <h4>📚跨界融合，文化盛宴</h4>
    <p>活动邀请了全球各地的艺术家、手工艺人及文化学者，<br>
        通过展览、表演、工作坊等形式，<br>
        展示不同地域的文化特色与生态智慧，<br>
        促进文化的交流与理解。<br>
        同时，结合地方特色美食、手工艺品市集等，<br>
        让游客在享受美食与购物的同时，<br>
        也能深入了解当地文化与生活方式。
        <img src="../images/A.2.jpg" class="image-D">

    </p>
</div>
<div class="E">
    <h4>🌱环保倡议，共筑绿色梦想</h4>
    <p>“园际缤纷汇”不仅仅是一场娱乐活动，<br>
        更是一个倡导生态保护、呼吁绿色生活的平台。<br>
        通过举办环保讲座、<br>
        公益植树、垃圾分类挑战等活动，<br>
        引导游客树立生态文明观念，<br>
        共同为地球母亲贡献力量。

        <img src="../images/A.3.jpg" class="image-E">

    </p>
</div>


</body>
</html>