<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广隆小小保育员</title>
    <link rel="stylesheet" th:href="@{/css/byyG.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" id="current">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="content active" id="content1">
    <h1 class="h1">广州长隆野生动物园招募小小保育员啦！</h1>
    <div align="center" class="module">
        <div class="ziti"><br>
            长隆作为国家级科普教育基地，<br>
            有各种科普体验和教育活动。<br>
            如职业体验类的小小保育员，<br>
            可以在学习知识的同时和家长一起互动的亲子课堂，<br>
            和科普工作人员可以近距离互动的科普驿站，<br>
            以及在各园区内热心讲解的饲养员，<br>
            都可以带给你神奇的科普体验。
        </div>
        <div class="hezi"><img src="../images/2.9jpg" class="dotted"><br></div>
    </div>
</div>
<div class="content" id="content2">
    <script src="/js/index.js"></script>
    <div align="center" class="module1">
        <div>
        <div class="banner-container">
            <!-- 这里利用input的checked状态来为a标签添加选中状态 -->
            <!-- 布局方式采用的是 input + a 标签，不可以添加父级，不然css无法选择到 banner-img-container -->
            <!-- 轮播图圆点 -->
            <input type="radio" name="radio-set" checked="checked" id="banner-control-1">
            <a class="banner-nav-a" href="#banner01"></a>
            <input type="radio" name="radio-set" id="banner-control-2">
            <a class="banner-nav-a" href="#banner02"></a>
            <input type="radio" name="radio-set" id="banner-control-3">
            <a class="banner-nav-a" href="#banner03"></a>
            <input type="radio" name="radio-set" id="banner-control-4">
            <a class="banner-nav-a" href="#banner04"></a>
            <input type="radio" name="radio-set" id="banner-control-5">
            <a class="banner-nav-a" href="#banner05"></a>
            <!-- 轮播图图片容器 -->
            <div class="banner-img-container">
                <img id="banner01" src="https://cdn.chimelong.com/assets/images/pic0.1f1101e.jpg" alt="" class="banner-img">
                <img id="banner02" src="https://cdn.chimelong.com/assets/images/pic1.87f2a12.jpg" alt="" class="banner-img">
                <img id="banner03"  src="https://cdn.chimelong.com/assets/images/pic2.2adf479.jpg" alt="" class="banner-img">
                <img id="banner04" src="https://cdn.chimelong.com/assets/images/pic4.1f56932.jpg" alt="" class="banner-img">
                <img id="banner05" src="https://cdn.chimelong.com/assets/images/pic5.1d665ad.jpg" alt="" class="banner-img">
            </div>
        </div>
        </div>
        <div class="hezizi">
            <div class="tziti">
                🌈白虎小小保育员</div>
            <br>
            <div class="ziti4">
                🐾走进动物托儿所成为保育员,<br>参与萌兽宝宝育幼工作；<br>
                🐾给幼年虎洒水冲凉<br>🐾看小虎如何锻炼生存捕猎技能；<br>
                🐾与百兽之王拔河,感受它们牙齿的力量<br>
            </div>
        </div>
    </div>
</div>


<div class="content" id="content3">
    <div align="center" class="module1">
        <div>
            <div class="banner-container">
                <!-- 这里利用input的checked状态来为a标签添加选中状态 -->
                <!-- 布局方式采用的是 input + a 标签，不可以添加父级，不然css无法选择到 banner-img-container -->
                <!-- 轮播图圆点 -->
                <input type="radio" name="radio-set" checked="checked" id="banner-control-21">
                <a class="banner-nav-a" href="#banner21"></a>
                <input type="radio" name="radio-set" id="banner-control-22">
                <a class="banner-nav-a" href="#banner22"></a>
                <input type="radio" name="radio-set" id="banner-control-23">
                <a class="banner-nav-a" href="#banner23"></a>
                <input type="radio" name="radio-set" id="banner-control-24">
                <a class="banner-nav-a" href="#banner24"></a>
                <input type="radio" name="radio-set" id="banner-control-25">
                <a class="banner-nav-a" href="#banner25"></a>
                <!-- 轮播图图片容器 -->
                <div class="banner-img-container">
                    <img id="banner21" src="../images/2.16.jpg" alt="" class="banner2-img">
                    <img id="banner22" src="../images/2.12.jpg" alt="" class="banner2-img">
                    <img id="banner23"  src="../images/2.14.jpg" alt="" class="banner2-img">
                    <img id="banner24" src="../images/2.13.jpg" alt="" class="banner2-img">
                    <img id="banner25" src="../images/2.15.jpg" alt="" class="banner2-img">
                </div>
            </div>
        </div>
        <div class="hezizi">
            <div class="tziti">🌈考拉小小保育员</div>
            <br>
            <div class="ziti4">
                🐾深入认识考拉唯一的食物<br>🐾为考拉挑选它最爱的桉树叶<br>
                🐾进入后场为呆萌考拉做日常体检<br>探索澳洲国宝考拉的秘密<br>
            </div>
        </div>
    </div>
</div>
<div class="content" id="content4">

    <div align="center" class="module1">
        <div>
            <div class="banner-container">
                <!-- 这里利用input的checked状态来为a标签添加选中状态 -->
                <!-- 布局方式采用的是 input + a 标签，不可以添加父级，不然css无法选择到 banner-img-container -->
                <!-- 轮播图圆点 -->
                <input type="radio" name="radio-set" checked="checked" id="banner-control-31">
                <a class="banner-nav-a" href="#banner21"></a>
                <input type="radio" name="radio-set" id="banner-control-32">
                <a class="banner-nav-a" href="#banner22"></a>
                <input type="radio" name="radio-set" id="banner-control-33">
                <a class="banner-nav-a" href="#banner23"></a>
                <input type="radio" name="radio-set" id="banner-control-34">
                <a class="banner-nav-a" href="#banner34"></a>
                <input type="radio" name="radio-set" id="banner-control-35">
                <a class="banner-nav-a" href="#banner35"></a>
                <!-- 轮播图图片容器 -->
                <div class="banner-img-container">
                    <img id="banner31" src="../images/2.20.jpg" alt="" class="banner3-img">
                    <img id="banner32" src="../images/2.21.jpg" alt="" class="banner3-img">
                    <img id="banner33"  src="../images/2.22.jpg" alt="" class="banner3-img">
                    <img id="banner34" src="../images/2.23.jpg" alt="" class="banner3-img">
                    <img id="banner35" src="../images/2.24.jpg" alt="" class="banner3-img">
                </div>
            </div>
        </div>
        <div class="hezizi">
            <div class="tziti">🌈熊猫小小保育员</div><br>
            <div class="ziti4">深入大熊猫居住场所，了解熊猫生活习性
            <br>🐾照顾它们的饮食起居<br>
                🐾制作纯手工熊猫蛋糕喂国宝<br>🐾给国宝打扫家园
            </div>
        </div>
    </div>
</div>
<div class="content" id="content5">
    <div align="center" class="module1">
        <div>
            <div class="banner-container">
                <!-- 这里利用input的checked状态来为a标签添加选中状态 -->
                <!-- 布局方式采用的是 input + a 标签，不可以添加父级，不然css无法选择到 banner-img-container -->
                <!-- 轮播图圆点 -->
                <input type="radio" name="radio-set" checked="checked" id="banner-control-41">
                <a class="banner-nav-a" href="#banner41"></a>
                <input type="radio" name="radio-set" id="banner-control-42">
                <a class="banner-nav-a" href="#banner42"></a>
                <input type="radio" name="radio-set" id="banner-control-43">
                <a class="banner-nav-a" href="#banner43"></a>
                <input type="radio" name="radio-set" id="banner-control-44">
                <a class="banner-nav-a" href="#banner44"></a>
                <input type="radio" name="radio-set" id="banner-control-45">
                <a class="banner-nav-a" href="#banner45"></a>
                <!-- 轮播图图片容器 -->
                <div class="banner-img-container">
                    <img id="banner41" src="../images/2.30.jpg" alt="" class="banner4-img">
                    <img id="banner42" src="../images/2.31.jpg" alt="" class="banner4-img">
                    <img id="banner43"  src="../images/2.32.jpg" alt="" class="banner4-img">
                    <img id="banner44" src="../images/2.33.jpg" alt="" class="banner4-img">
                    <img id="banner45" src="../images/2.44.jpg" alt="" class="banner4-img">
                </div>
            </div>
        </div>
        <div class="hezizi">
            <div class="tziti">🌈动物小医生</div>
            <div class="ziti4">深入动物世界的核心区域—兽医院<br>专业兽医和科普导师带你体验神奇职业<br>
                🐾穿上白大褂<br>🐾学习动物急救，更有显微镜、X光和CT<br>给你留下难忘的兽医经历<br>
            </div>
        </div>
    </div>
</div>
<div class="content" id="content6">
    <h1 class="h1">广州长隆野生动物园招募小小保育员啦！</h1>
    <div align="center" class="modulex">
        <div class="hezi"><img src="../images/0000.gif" ><br></div>
        <div class="hezizix"><br>
            <a href="http://localhost:8888/volunteers" class="niceButtonz1">立即点击报名</a>
        </div>
    </div>
</div>
<script src="js/byyG.js"></script>
</body>
</html>