<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/3.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act" id="current">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<br>

<div class="A">
    <h2>🌟

    佳节悦兽行🌟

</h2></div><div class="B">
<h4>🐘“瑞兽呈祥，乐舞同辉”🐒</h4>

<p>“佳节悦兽行”，不仅是一场视觉与心灵的盛宴，更是一次对生命、自然与文化的深刻感悟。<br>
    在这里，我们可以暂时忘却尘世的烦恼，与大自然中的生灵们共同欢庆，<br>
    感受那份最纯粹、最质朴的快乐与幸福。 <br>
    让我们携手共鉴这场融合自然之灵与文化之韵的非凡盛宴，<br>
    共同迎接一个更加美好的未来！</p>
    </div>
<div class="image-container">
    <img src="../images/d1.jpg" alt="图片1" class="gallery-image">
    <img src="../images/d.jpg" alt="图片2" class="gallery-image">
    <img src="../images/d3.jpg" alt="图片3" class="gallery-image">

    <!-- 更多图片可以继续添加 -->
</div>


</body>
</html>