<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>川金丝猴</title>
    <link rel="stylesheet" th:href="@{/css/animal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science" id="current">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="container">
    <div class="on">
        <div class="left">
            <div class="lon"><img src="../images/monkey.jpg" class="img"></div>

            <div class="don">
                <h3>中文名:川金丝猴</h3>
                <h3>外文名:Golden monkey（英文）</h3>
                <h3>别    名:狮子鼻猴、仰鼻猴、金狨猴、蓝面猴、洛克安娜猴、果然兽、喜或嘉</h3>
                <h3>国际濒危等级:濒危（EN）</h3>
                <h3> 中国动物保护等级:《国家重点保护野生动物名录》一级</h3>
            </div>
        </div>
        <div class="right">
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;川金丝猴是灵长目猴科仰鼻猴属动物。川金丝猴体长平均68厘米，尾长平均68.5厘米，为体型中等猴类；头圆、耳短，鼻孔向上仰，颜面部为蓝色，无颊囊；颊部及颈侧棕红，肩背具长毛，色泽金黄；尾与体等长或更长。雄性体重大于雌性。川金丝猴以其缕缕金丝似的柔软长毛而被冠以“金丝猴”的美名。雌性比雄性小10-20％。
            </h4>
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;川金丝猴分布于中国四川、陕西、湖北及甘肃地区，栖息于海拔1500—3300米的原始森林和次生林中。川金丝猴为树栖，很少下地，白天活动，群栖，几十至几百只为一群，每个大集群以家族性小集群为活动单位。川金丝猴食性很杂，但以植物性食物为主，以野果、嫩芽、竹笋、苔藓为主，也吃树皮和树根，有些还爱吃昆虫、鸟和鸟蛋。川金丝猴发情期为秋季，全年均有交配，交配盛期为8～10月，孕期为6个月左右，3～4月产仔，通常1胎1仔，偶尔产2仔。寿命为20～25年。
            </h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;川金丝猴为中国特有的珍贵动物，也是世界上最漂亮、最珍贵的猴子之一。并且《西游记》中美猴王的原型就是川金丝猴。由于人类的砍伐森林，导致川金丝猴的生存受到巨大威胁，</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列入《中国国家重点保护野生动物名录》一级。</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列入《世界自然保护联盟濒危物种红色名录></h4>
            <a href="http://localhost:8888/productsPage" class="btn">推荐动物园：上海动物园</a>
        </div>
    </div>
    <div class="down">
        <div class="lin">
            <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=541857885&bvid=BV1Ei4y1M71d&cid=226004274&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" class="video"></iframe>
        </div>
    </div>
</div>
</body>
</html>