<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>碧峰峡爱心体验官</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/css/Panda.css" />
</head>
<body>
<nav>
    <ul>
        <li><a href="/Home">首页</a></li>
        <li class="dropdown">
            <a href="/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/A">奇妙探索季</a>
                <a href="/B">园际缤纷汇</a>
                <a href="/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="/Science">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/pd">熊猫</a>
                <a href="/tusun">兔狲</a>
                <a href="/zhbht">中华白海豚</a>
                <a href="/xuebao">雪豹</a>
                <a href="/monkey">金丝猴</a>
                <a href="/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="/productsPage">门票订购</a></li>
        <li><a href="/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" id="current">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/Panda">爱心体验官</a>
                <a href="/byyG">小小保育员</a>
                <a href="/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="/posts">动物论坛</a></li>
        <li><a href="/shopsPage">文创商城</a></li>
    </ul>
</nav>

<h1 class="h1">碧峰峡『熊猫+野生动物』爱心体验官招募啦！</h1>

<div class="module">
    <div class="hezi">
        <img src="../images/test.jpg" class="dotted" alt="图片1">
    </div>
    <div class="ziti">
        也许你曾经，<br>
        跟汪星人一起，出门遛弯广场舞；<br>
        和喵星人为伴，沙发美酒葛优瘫。<br>
        也许你也曾经，<br>
        在普通的动物园，<br>
        笼子外面望远镜，全凭运气看动物，<br>
        谢绝抱抱不能摸，走马观花假旅游。<br>
    </div>
</div>

<div class="module">
    <div class="hezi2">
        <img src="../images/4.jpg" class="dotted2" alt="图片2">
    </div>
    <div class="ziti2">
        <div class="but">BUT，</div>
        熊猫滚滚铲屎官，喂它美味窝窝头，<br>
        水豚宝宝怀中抱，松鼠猴猴握握手，<br>
        身临其境学知识，守护动物近距离，<br>
        ……<br>
        这样的体验你有过吗？<br>
        嘿嘿，咱碧峰峡的动物园不一样！<br>
        这里有全宇宙最治愈的绝妙体验：<br>
        碧峰峡【熊猫+野生动物】爱心体验官<br>
    </div>
</div>

<div class="title-container">
    <h2 class="fancy-numbered-title">初级体验·野生动物爱心体验官</h2>
</div>

<div class="module">
    <div class="hezi3">
        <img src="../images/mmexport1720189658114.jpg" class="dotted3" alt="动物3">
    </div>
    <div class="ziti3">
        在四川唯一野生动物园里<br>
        和动物们亲密接触！<br>
        东方碧峰峡野生动物园内，<br>
        各类野生动物近<span class="but">300种。</span><br>
        其中国家一、二级重点保护动物80余种，<br>
        是西南首家野生动物园，<br>
        也是全国第一家生态型野生动物园。<br>
        成为野生动物爱心体验官，<br>
        跟动物们亲密接触，<br>
        还能学到从亲身体验得来的动物奥秘！<br>
    </div>
</div>

<div class="module1">
    <div class="hezi4">
        <img src="../images/mmexport1720189666334.jpg" class="dotted4" alt="动物行为">
    </div>
    <div class="ziti4">
        <div class="but1">🌈学习观察野生动物行为<br>成为它的真正朋友</div>
        你可以选择以下任何一种动物：<br>
        松鼠猴、羊驼、梅花鹿、环尾狐猴、<br>
        黑颈鹤、鹈鹕、水豚、小熊猫……<br>
        深入它们的圈子，<br>
        仔细观察它们的生活状态，<br>
        了解它们的喜好。<br>
        它们虽然跟你们语言不通，<br>
        但是在认真观察它们的生活后，<br>
        你会发现原来沟通也没那么困难呢！<br>
        和它们成为真正意义上的朋友！<br>
    </div>
</div>

<div class="module1">
    <div class="ziti5">
        <div class="but1">🌈科普小课堂：亲密互动和学习！</div>
        话说，咱碧峰峡出现了四大新晋网红：<br><br>
        <div><span class="but1">小熊猫 </span> <span class="but1">松鼠猴 </span> <span class="but1">水豚 </span> <span class="but1">环尾狐猴</span></div><br>
        在科普小课堂上，<br>
        你不仅会学习到学校课堂上体验不到小知识，<br>
        还可以喂食小萌宝们蜂蜜水、苹果、葡萄干，<br>
        成为它们最爱的酒肉朋友！<br>
    </div>
    <div class="hezi3">
        <img src="../images/mmexport1720189669044.jpg" class="dotted3" alt="小课堂">
    </div>
</div>

<div class="module1">
    <div class="hezi4">
        <img src="../images/mmexport1720189661205.jpg" class="dotted4" alt="营养餐">
    </div>
    <div class="ziti4">
        <div class="but">🌈学习配制营养餐<br>为萌宝们当大厨!</div>
        用各类粮食混合成一定比例，<br>
        再加入营养配方而制成的窝窝头，<br>
        深得猕猴、松鼠猴、大象、黑熊的喜爱！<br>
        你将学习专业科学的制作方法，<br>
        并为它们亲手制作美味窝窝头，<br>
        做它们的专属营养师呦，<br>
        还有机会喂食松鼠猴小可爱！<br>
    </div>
</div>

<div class="title-container2">
    <h2 class="fancy-numbered-title2">升级体验·熊猫爱心体验官</h2>
</div>

<div class="module">
    <div class="ziti5">
        <div class="but1">🌈在中国最大的半散放式<br>大熊猫生态园里吸胖达！</div>
        雅安碧峰峡的熊猫基地是集饲养、繁殖、科研、<br>
        珍稀野生动物救护和科普教育为一体的大熊猫乐园。<br>
    </div>
    <div class="hezi3">
        <img src="../images/1.jpg" class="dotted3" alt="熊猫园">
    </div>
</div>

<div class="module1">
    <div class="hezi4">
        <img src="../images/5.jpg" class="dotted4" alt="纪录片">
    </div>
    <div class="ziti4">
        <div class="but1">🌈观看独家纪录片<br>学习熊猫保护知识!</div>
        你将看到基地珍藏的纪录片，<br>
        深入了解熊猫保护背后的故事。<br>
        成为熊猫爱心体验官，<br>
        零距离与圆滚滚亲密接触，<br>
        亲手饲养并参与科研，<br>
        学习保护知识，与专家互动。<br>
    </div>
</div>

<div class="module1">
    <div class="ziti6">
        <div class="but">🌈学做爱心保育员</div>
        你将换上保育员工作服，<br>
        深入保育园区，<br>
        为滚滚们记录身体与习惯，<br>
        从此以后，你就是喂养过国宝的人！<br>
    </div>
    <div class="hezi3">
        <img src="../images/2.jpg" class="dotted3" alt="保育员">
    </div>
</div>

<div class="module1">
    <div class="hezi4">
        <img src="../images/mmexport1720189736194.jpg" class="dotted4" alt="营养师">
    </div>
    <div class="ziti4">
        <div class="but">🌈学做爱心营养师</div>
        营养师特制配方的窝窝头，<br>
        是滚滚们超爱的零食，<br>
        你将在专家指导下，<br>
        深入了解饮食结构并亲手制作窝窝头。<br>
    </div>
</div>

<div class="module1">
    <div class="ziti">
        <div class="but">🌈学做爱心饲养员</div>
        观察了解生活习性同时，<br>
        清理圈舍是日常工作之一，<br>
        观测记录胖达生活细节，<br>
        分析青团粪便，揭示健康秘密！<br>
    </div>
    <div class="hezi3">
        <img src="../images/8.jpg" class="dotted3" alt="饲养员">
    </div>
</div>

<div class="module1">
    <div class="hezi4">
        <img src="../images/3.jpg" class="dotted4" alt="管家婆">
    </div>
    <div class="ziti4">
        <div class="but">🌈学做爱心管家婆</div>
        与专家一起科学记录、精准管理，<br>
        了解熊猫的生活习性并制定照护计划，<br>
        成为“铲屎官”中的管理达人。<br>
    </div>
</div>

<a href="/volunteers" class="niceButtonx1">立即点击报名</a>
</body>
</html>
