<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碧峰峡爱心体验官</title>
    <link rel="stylesheet" th:href="@{/css/Panda.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" id="current">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<h1 class="h1">碧峰峡『熊猫+野生动物』爱心体验官招募啦！</h1>
<div align="center" class="module">
    <div class="ziti">也许你曾经，<br>
    跟汪星人一起，出门遛弯广场舞；<br>
    和喵星人为伴，沙发美酒葛优瘫。<br>
    也许你也曾经，<br>
    在普通的动物园，<br>
    笼子外面望远镜，全凭运气看动物，<br>
    谢绝抱抱不能摸，走马观花假旅游。<br>
    </div>
    <div class="hezi"><img src="../images/test.jpg" class="dotted"><br></div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div align="center" class="module">
    <div class="hezi2"><img src="../images/4.jpg" class="dotted2"><br></div>
    <div class="ziti2">
        <div class="but">BUT，</div>
        熊猫滚滚铲屎官，喂它美味窝窝头，<br>
        水豚宝宝怀中抱，松鼠猴猴握握手，<br>
        身临其境学知识，守护动物近距离，<br>
        ……<br>
        这样的体验你有过吗？<br>
        嘿嘿，咱碧峰峡的动物园不一样！<br>
        这里有全宇宙最治愈的绝妙体验：<br>
        这里有全宇宙最治愈的绝妙体验：<br>
        碧峰峡【熊猫+野生动物】爱心体验官<br>
        <br>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div class="title-container">
    <h2 class="fancy-numbered-title">初级体验·野生动物爱心体验官</h2>
</div>

<div align="center" class="module">
    <div class="ziti3">在四川唯一野生动物园里<br>
        和动物们亲密接触！<br>
        东方碧峰峡野生动物园内，<br>
        各类野生动物近<div class="but">300种。</div>
        其中国家一、二级重点保护动物80余种，<br>
        是西南首家野生动物园，<br>
        也是全国第一家生态型野生动物园。<br>
        成为野生动物爱心体验官，<br>
        跟动物们亲密接触，<br>
        还能学到从亲身体验得来的动物奥秘！<br>
    </div>
    <div class="hezi3"><img src="../images/mmexport1720189658114.jpg" class="dotted3"><br></div>
</div>
<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="hezi4"><img src="../images/mmexport1720189666334.jpg" class="dotted4"><br></div>
    <div class="ziti4">
        <div class="but1">🌈学习观察野生动物行为<br>成为它的真正朋友</div>
        <br>
        你可以选择以下任何一种动物：<br>
        松鼠猴、羊驼、梅花鹿、环尾狐猴、<br>
        黑颈鹤、鹈鹕、水豚、小熊猫……<br>
        深入它们的圈子，<br>
        仔细观察它们的生活状态，<br>
        了解它们的喜好。<br>
        它们虽然跟你们语言不通，<br>
        但是在认真观察它们的生活后，<br>
        你会发现原来沟通也没那么困难呢！<br>
        和它们成为真正意义上的朋友！<br>
    </div>
</div>
<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="ziti5"><div class="but1">🌈科普小课堂：亲密互动和学习！</div> <br>
        话说，咱碧峰峡出现了四大新晋网红：<br><br>
        <div><span class="but1">小熊猫 </span>  <span class="but1">松鼠猴 </span>  <span class="but1">水豚 </span>  <span class="but1">环尾狐猴</span></div>
        <br>
        在科普小课堂上，<br>
        你不仅会学习到学校课堂上体验不到小知识，<br>
        还可以喂食小萌宝们蜂蜜水、苹果、葡萄干，<br>
        成为它们最爱的酒肉朋友！<br>
    </div>
    <div class="hezi3"><img src="../images/mmexport1720189669044.jpg" class="dotted3"><br></div>
</div>

<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="hezi4"><img src="../images/mmexport1720189661205.jpg" class="dotted4"><br></div>
    <div class="ziti4">
        <div class="but">🌈学习配制营养餐<br>为萌宝们当大厨!</div>
        <br>
            用各类粮食混合成一定比例，<br>
            再加入营养配方而制成的窝窝头，<br>
            深得猕猴、松鼠猴、大象、黑熊的喜爱！<br>
            野生动物在动物园，<br>
            不能摄取到像野外那样的多样食物，<br>
            你将学习专业科学的制作方法，<br>
            并为它们亲手制作美味窝窝头，<br>
            做它们的专属营养师呦，<br>
            还有机会喂食松鼠猴小可爱！<br>
    </div>
</div>
<br>
<br>
<br>
<div class="title-container2">
    <h2 class="fancy-numbered-title2">升级体验·熊猫爱心体验官</h2>
</div>
<div align="center" class="module">
    <div class="ziti5"><div class="but1">🌈在中国最大的半散放式<br>大熊猫生态园里吸胖达！</div> <br>
        雅安碧峰峡的熊猫基地<br>
        是集大熊猫饲养、繁殖、科研、<br>
        珍稀野生动物救护和科普教育为一体的<br>
        大熊猫乐园。<br>
    </div>
    <div class="hezi3"><img src="../images/1.jpg" class="dotted3"><br></div>
</div>
<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="hezi4"><img src="../images/5.jpg" class="dotted4"><br></div>
    <div class="ziti4">
        <div class="but1">🌈观看独家纪录片<br>学习熊猫保护知识!</div>
        <br>
        你将看到基地珍藏的纪录片，<br>
        深入了解熊猫保护背后的故事。<br>
        成为熊猫爱心体验官，<br>
        你可以一人兼数职，<br>
        甚至你完全可以把自己想象成一只熊猫，<br>
        零距离与圆滚滚的胖达亲密接触，<br>
        亲手饲养，参与科研<br>加深大熊猫保护意识，<br>
        和全球最顶级的大熊猫专家学习互动，<br>
        了解如何保护大熊猫，与大熊猫和睦相处。<br>
    </div>
</div>
<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="ziti6"><div class="but">🌈学做爱心保育员</div>
        <br>
        学做爱心保育员<br>
        你将换上保育员工作服，<br>
        深入大熊猫保育园区，<br>
        体验“奶爸奶妈”的工作生活！<br>
        为滚滚们记录身体与偏好习惯，<br>
        跟专家学习，如何让熊猫更健康的生活。<br>
        从此以后，你就是喂养过国宝的人了！<br>
    </div>
    <div class="hezi3"><img src="../images/2.jpg" class="dotted3"><br></div>
</div>
<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="hezi4"><img src="../images/mmexport1720189736194.jpg" class="dotted4"><br></div>
    <div class="ziti4">
        <div class="but">🌈学做爱心营养师</div>
        <br>
        想抓住一只胖达的心，<br>
        必须先抓住胖达的胃！<br>
        营养师特制配方的窝窝头，<br>
        是滚滚们超爱的零食没有之一，<br>
        TA们会每天定点盼着“奶爸奶妈”来喂。<br>
        你将在营养师的带领下，<br>
        深入了解团子们的饮食结构，<br>
        学习配方并亲手制作“窝窝头”。<br>
    </div>
</div>
<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="ziti"><div class="but">🌈学做爱心饲养员</div>
        观察了解大熊猫生活习性的同时，<br>
        清理圈舍也是“铲屎官“的日常工作之一。<br>
        在工作人员的指导下，<br>
        来做个科研小助手吧！<br>
        用专业方法观测并记录胖达的生活细节，<br>
        观察分析胖达的粪便——青团，<br>
        从而找寻它们没有告诉我们的秘密！<br>
    </div>
    <div class="hezi3"><img src="../images/8.jpg" class="dotted3"><br></div>
</div>
<br>
<br>
<br>
<br>
<div align="center" class="module1">
    <div class="hezi4"><img src="../images/3.jpg" class="dotted4"><br></div>
    <div class="ziti4">
        <div class="but">🌈学做爱心管家婆</div>
        <br>
        <br>
        观察了解大熊猫生活习性的同时，<br>
        清理圈舍也是“铲屎官“的日常工作之一。<br>
        在工作人员的指导下，<br>
        来做个科研小助手吧！<br>
        用专业方法观测并记录胖达的生活细节，<br>
        观察分析胖达的粪便——青团，<br>
        从而找寻它们没有告诉我们的秘密！<br>
    </div>
</div>
<br>
<br>
<br>
<br>
<a href="http://localhost:8888/volunteers" class="niceButtonx1">立即点击报名</a>
<br>
<br>
<br>
<br>
</body>
</html>