<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/animal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science" id="current">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="container">
    <div class="on">
        <div class="left">
            <div class="lon"><img src="../images/熊猫.png" class="img"></div>

            <div class="don">
                <h3>中文名:大熊猫</h3>
                <h3>外文名:Giant Panda（英文）</h3>
                <h3>别    名:猫熊、竹熊、银狗、洞尕、杜洞尕、执夷、貊、猛豹、食铁兽</h3>
                <h3>国际濒危等级:易危(VU)</h3>
                <h3> 中国动物保护等级:国家一级保护野生动物</h3>
            </div>
        </div>
        <div class="right">
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大熊猫（学名：Ailuropoda melanoleuca）属于熊科、大熊猫属哺乳动物，是中国特有种。仅有两个亚种，四川亚种和秦岭亚种。雌性比雄性小10-20％。头躯长1.2-1.8米，尾长10-12厘米。体重80-120千克，最重可达180千克。体型肥硕似熊、丰腴富态。头圆、体肥、尾短。体色为黑白两色，眼圈、耳壳、肩和四肢为深黑色外，其余部分均为乳白色。脸颊圆，有很大的“黑眼圈”，标志性的内八字的行走方式，也有解剖刀般锋利的爪子。大熊猫皮肤厚，最厚处可达10毫米。
            </h4>
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;生活在海拔2600-3500米的茂密竹林里，那里常年空气稀薄，云雾缭绕，气温低于20℃。有充足的竹子，地形和水源的分布利于该物种建巢藏身和哺育幼仔。大熊猫善于爬树，也爱嬉戏。爬树的行为一般是临近求婚期，或逃避危险，或彼此相遇时弱者借以回避强者的一种方式。大熊猫每天除去一半进食的时间，剩下的一半时间多数便是在睡梦中度过。在野外，大熊猫在每两次进食的中间睡2-4个小时。大熊猫99%的食物都是竹子，可供大熊猫食用的竹类植物共有12属、60多种。野外大熊猫的寿命为18-20岁，圈养状态下可以超过30岁。
            </h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大熊猫已在地球上生存了至少800万年，被誉为“活化石”和“中国国宝”（国兽），世界自然基金会的形象大使，是世界生物多样性保护的旗舰物种。截至2024年1月，中国大熊猫野生种群增至近1900只。截至2023年10月，中国旅居国外的大熊猫总数达到63只。 </h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列入《中国国家重点保护野生动物名录》一级。</h4>
            <a href="http://localhost:8888/productsPage" class="btn">推荐动物园：碧峰峡风景区</a>
        </div>
    </div>
    <div class="down">
        <div class="lin">
            <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=332468570&bvid=BV1DA41157Di&cid=318679394&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" class="video"></iframe>
        </div>
    </div>
</div>

</body>
</html>