<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Science</title>
    <link rel="stylesheet" th:href="@{/css/Science.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science" id="current">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="inn">
<div class="contain">
    <div class="box">
        <div class="img">
            <img src="../images/熊猫.png" class="imgin">
        </div>
        <div class="text">
            <div class="textin">
                <h2>"中国国宝"——熊猫</h2>
                <div class="small"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;熊猫是我国的特有物种，以其憨态可掬的形象和温顺的性格深受全球人民的喜爱。作为中国的文化象征，熊猫不仅代表了和平与友谊，还广泛应用于各类产品，成为国际间知名的中国元素。</h3></div>
                <a href="http://localhost:8888/pd" class="btn">点击了解详情 >></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="../images/海豚.png" class="imgin">
        </div>
        <div class="text">
            <div class="textin">
                <h2>"微笑天使"——海豚</h2>
                <div class="small"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;海豚总是以其独特的微笑面容吸引着人们的目光，然而这看似温馨的微笑并非源于海豚的情绪状态，而是其面部结构的自然表现。尽管如此，海豚仍然以其聪明、友善的形象受到人们的喜爱。</h3></div>
                <a href="http://localhost:8888/zhbht" class="btn">点击了解详情 >></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="../images/兔狲.png" class="imgin">
        </div>
        <div class="text">
            <div class="textin">
                <h2>"神秘的智慧之兽"——兔狲</h2>
                <div class="small"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兔狲是一种生活在广阔草原之上的小型哺乳动物，因其与众不同的外貌和独特的行为习性而备受关注。它们拥有兔子般的长耳朵和狒狒般的身形，是自然界中的珍稀物种。</h3></div>
                <a href="http://localhost:8888/tusun" class="btn">点击了解详情 >></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="../images/雪豹.png" class="imgin">
        </div>
        <div class="text">
            <div class="textin">
                <h2>"雪山之王"——雪豹</h2>
                <div class="small"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雪豹是中国国家一级重点保护野生动物，作为高原生态系统的旗舰物种，它被视为衡量高海拔生态系统健康与否的“气压计”。雪豹的珍稀和独特之处在于其能够在极端环境下生存并繁衍后代，是青藏高原生态系统中不可或缺的一部分。</h3></div>
                <a href="http://localhost:8888/xuebao" class="btn">点击了解详情 >></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="../images/金丝猴.png" class="imgin">
        </div>
        <div class="text">
            <div class="textin">
                <h2>"世界屋脊的国宝"——金丝猴</h2>
                <div class="small"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金丝猴作为一种珍稀的灵长类动物，因其美丽的外貌和独特的生态习性而备受关注。它们通常被归类为仰鼻猴属，包括川金丝猴、黔金丝猴、滇金丝猴等多个品种。</h3></div>
                <a href="http://localhost:8888/monkey" class="btn">点击了解详情 >></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="img">
            <img src="../images/扬子鳄.png" class="imgin">
        </div>
        <div class="text">
            <div class="textin">
                <h2>"活化石"——扬子鳄</h2>
                <div class="small"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扬子鳄是中国特有的珍稀爬行动物之一，对于研究古代爬行动物的兴衰、古地质学和生物的进化等方面都具有重要的科研价值。扬子鳄的存在不仅丰富了生物多样性，还为我们提供了了解地球历史和生物进化的重要线索</h3></div>
                <a href="http://localhost:8888/yze" class="btn">点击了解详情 >></a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>