<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>兔狲</title>
    <link rel="stylesheet" th:href="@{/css/animal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science" id="current">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="container">
    <div class="on">
        <div class="left">
            <div class="lon"><img src="../images/tusun.png" class="img"></div>

            <div class="don">
                <h3>中文名:兔狲</h3>
                <h3>外文名:Pallas's Cat（英文）</h3>
                <h3>别    名:羊猞狸、乌伦、玛瑙勒</h3>
                <h3>国际濒危等级:近危（NT）</h3>
                <h3> 中国动物保护等级:《国家重点保护野生动物名录》二级</h3>
            </div>
        </div>
        <div class="right">
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兔狲（学名：Otocolobus manul）是猫科兔狲属的一种动物，在地方性命名中也被称为羊猞狸、乌伦或玛瑙。兔该物种的皮毛厚实而美观，具有独特的体态和丰富的面部表情。成年个体的头体长介于45至65厘米之间，体重大约在2.3至4.5千克。兔狲的体型特征为短而粗壮，其毛发浓密。其前额较宽，上面散布着小黑斑。眼睛朝前，眼周围有明显的白色环状标记。耳朵间距较宽，位于头部两侧。其毛色主要为浅灰色，毛尖呈白色。背部有6至7条窄横纹。尾部的上下面呈均匀的灰色，尾巴尖端的长毛为黑色
            </h4>
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;兔狲主要分布在亚洲中部和西部地区。它们主要栖息于草原和山地草原地带，偏好峡谷和岩石区域，如内陆悬崖等破坏性植被覆盖的地形。兔狲通常选择弯曲且深达2米以上的岩石缝隙或旱獭的洞穴作为巢穴。作为一种夜行性动物，兔狲多在黄昏时分活动和觅食。它们的视觉和听觉极为敏锐，对周围环境的微小变化能够迅速做出反应。兔狲的食物主要包括小型啮齿动物和鼠兔。兔狲的平均寿命相对较短，约为27.1个月，且在冬季死亡率较高。在繁殖行为上，兔狲采取一雄多雌的交配制度，雄性在交配季节会与多只雌性交配。
            </h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;粗略估算，全球成年兔狲种群数量推测约为5.8万只。它们表明兔狲种群数量可能已超过受威胁物种的标准下限。栖息地的破碎化已将全球兔狲种群分割成多个小群体。目前，已有36个自然保护区确认存在兔狲，预计还有超过170个保护区适宜其生存。在俄罗斯、中国等国家，兔狲主要栖息于一些重要的自然保护区内</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列入《中国国家重点保护野生动物名录》二级。</h4>
            <a href="http://localhost:8888/productsPage" class="btn">推荐动物园：西宁野生动物园</a>
        </div>
    </div>
    <div class="down">
        <div class="lin">
            <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=705773593&bvid=BV1JQ4y187RG&cid=1328175304&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"  class="video"></iframe>
        </div>
    </div>
</div>
</body>
</html>