<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雪豹</title>
    <link rel="stylesheet" th:href="@{/css/animal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science" id="current">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="container">
    <div class="on">
        <div class="left">
            <div class="lon"><img src="../images/xuebao.png" class="img"></div>

            <div class="don">
                <h3>中文名:雪豹</h3>
                <h3>外文名:Snow leopard（英文）</h3>
                <h3>别    名:艾叶豹、荷叶豹、萨（藏语）</h3>
                <h3>国际濒危等级:濒危（EN）</h3>
                <h3> 中国动物保护等级:《国家重点保护野生动物名录》一级</h3>
            </div>
        </div>
        <div class="right">
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雪豹（Panthera uncia，英语：Snow leopard），是一种大型猫科动物，常在雪线附近和雪地间活动，故名“雪豹”。雪豹分布于青藏高原、帕米尔高原、天山山脉、阿尔泰山脉及我国西部和中亚东部的其它高山地区。其皮毛为灰白色，有黑色点斑和黑环，尾巴长而粗大，在岩石堆中是极好的保护色，有“雪山之王”之称。
            </h4>
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雪豹，雄性体长104-125厘米，雌性体长86-117厘米，尾长78-105厘米，可达体长的75-90%，平均为体长的83%，个别个体超过体长，而且极其粗大；雄性体重一般25-55千克，雌性一般21-53千克。皮毛蓬松，全身灰白色，布满黑斑。头部黑斑小而密，背部、体侧及四肢外缘形成不规则的黑环，越往体后黑环越大，背部及体侧黑环中有几个小黑点，四肢外缘黑环内灰白色，无黑点，在背部由肩部开始，黑斑形成三条线直至尾根，后部的黑环边宽而大，至尾端最为明显，尾尖黑色。幼兽通体带有浅玫瑰紫色；身上的黑色环斑轮廓不清、黑灰相杂。</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;雪豹是亚洲高山高原地区最具代表性的物种，国际上正在实施一个保护雪豹行动计划，期待使雪豹得到很好的保护，进而能够保护整个高山地区的动物区系和生态系统。《中国雪豹调查与保护现状2018》报告显示，全球雪豹60%的栖息地位于中国。 全世界雪豹的分布情况和大概的数量如下，2016年估计全球野外总数7400-8000只，其中成熟个体数2710-3386只。中国数量第一，约占全世界的40%左右。</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列入《中国国家重点保护野生动物名录》一级。</h4>
            <a href="http://localhost:8888/productsPage" class="btn">推荐动物园：天山野生动物园</a>
        </div>
    </div>
    <div class="down">
        <div class="lin">
            <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=201714776&bvid=BV1bh411d7Dk&cid=222053044&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"  class="video"></iframe>
        </div>
    </div>
</div>
</body>
</html>