<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扬子鳄</title>
    <link rel="stylesheet" th:href="@{/css/animal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science" id="current">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="container">
    <div class="on">
        <div class="left">
            <div class="lon"><img src="../images/yze.png" class="img"></div>

            <div class="don">
                <h3>中文名:扬子鳄</h3>
                <h3>外文名: Chinese Alligator</h3>
                <h3>别    名:鼍、中华短吻鳄、土龙、猪婆龙</h3>
                <h3>国际濒危等级:易危(VU)</h3>
                <h3> 中国动物保护等级:《国家重点保护野生动物名录》一级</h3>
            </div>
        </div>
        <div class="right">
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扬子鳄，Alligator sinensis （Fauvel,1879），古代被称作鼍（tuó），民间俗称“土龙”或“猪婆龙”，是中国特有的一种小型鳄类成体扬子鳄身长1.5—2.1m，体重30-45kg。头部扁平，吻突出，四肢粗短，前肢5指，后肢4趾，趾间有蹼爬行和游泳都很敏捷。尾长而侧扁，粗壮有力，在水里能推动身体前进，又是攻击和自卫的武器。 [2]它们的头部相对较大，鳞片上具有更多颗粒状和带状纹路，眼睛呈土色。</h4>
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扬子鳄的组织结构特点和生理变化规律与生活习性及生活环境相适应。如发达的嗅觉、视觉和听觉与陆上捕食、营巢等行为相适应，特殊的肺小腔结构及味蕾构造又具有适应水生生活的特点，血糖浓度的季节变化与扬子鳄的冬眠期、活动期或繁殖期的周期性交替相适应。
            </h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历史上，扬子鳄曾广泛分布于中国东部的黄河、淮河、长江和钱塘江等流域。随着人类活动和气候变化逐渐收缩至长江下游流域。目前，扬子鳄的生存状况十分濒危，野外种群数量总数小于300只，其中成年个体不足100只。野外种群几乎全分布于安徽省南部5个县区构成的扬子鳄国家级保护区中，被分割为大约20个相互隔离的小种群。扬子鳄在人工圈养条件下的繁殖已十分成熟，目前安徽宣州和浙江长兴的两个繁殖基地共保有约2.5万人工繁育的扬子鳄。野外适宜栖息地的丧失和破碎化是扬子鳄目前面临的最大威胁，也是其种群自然恢复和人工繁育个体重引入的最大障碍。</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列入《中国国家重点保护野生动物名录》一级。</h4>
            <a href="http://localhost:8888/productsPage" class="btn">推荐动物园：珠海长隆度假区</a>
        </div>
    </div>
    <div class="down">
        <div class="lin">
            <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=287073201&bvid=BV1of4y1S7rm&cid=234199681&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" class="video"></iframe>        </div>
    </div>
</div>
</body>
</html>