<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中华白海豚</title>
    <link rel="stylesheet" th:href="@{/css/animal.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8888/Home">首页</a></li>
        <li class="dropdown">
            <a href="http://localhost:8888/act">活动中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/A">奇妙探索季</a>
                <a href="http://localhost:8888/B">园际缤纷汇</a>
                <a href="http://localhost:8888/C">佳节悦兽行</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="http://localhost:8888/Science" id="current">科普中心 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/pd">熊猫</a>
                <a href="http://localhost:8888/tusun">兔狲</a>
                <a href="http://localhost:8888/zhbht">中华白海豚</a>
                <a href="http://localhost:8888/xuebao">雪豹</a>
                <a href="http://localhost:8888/monkey">金丝猴</a>
                <a href="http://localhost:8888/yze">扬子鳄</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/productsPage">门票订购</a></li>
        <li><a href="http://localhost:8888/loves">爱心募捐</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">研学体验 <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="http://localhost:8888/Panda">爱心体验官</a>
                <a href="http://localhost:8888/byyG">小小保育员</a>
                <a href="http://localhost:8888/anz">海洋王国研学</a>
            </div>
        </li>
        <li><a href="http://localhost:8888/posts">动物论坛</a></li>
        <li><a href="http://localhost:8888/shopsPage">文创商城</a></li>
    </ul>
</nav>
<div class="container">
    <div class="on">
        <div class="left">
            <div class="lon"><img src="../images/zhbht1.png" class="img"></div>

            <div class="don">
                <h3>中文名:中华白海豚</h3>
                <h3>外文名: Indo-Pacific Humpback Dolphin</h3>
                <h3>别    名:妈祖鱼、粉红海豚、镇江鱼、太平洋驼海豚</h3>
                <h3>国际濒危等级:易危(VU)</h3>
                <h3> 中国动物保护等级:《国家重点保护野生动物名录》一级</h3>
            </div>
        </div>
        <div class="right">
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中华白海豚（学名：Sousa chinensis），属于海豚科、白海豚属的海洋哺乳动物。体长2.0-2.5米，最长达2.7米，体重200-285千克。体粗壮，喙中等长，背鳍基部形成增厚的脊，上有近三角形的较大的背鳍，鳍肢和尾叶均宽，均具圆的梢端，标本最大体长约2.6米，下颌前端略超出上颌，喙与额隆间没有深的凹痕为界，背鳍基部形成增厚的脊；尾柄具发达的背脊和腹脊；幼体时为暗灰色，随年龄增长变浅，亚成体灰色和粉红色相杂，成体纯白色，常由于充血而透出粉红色；有些成体的身体上有暗色斑点，少数个体在呼吸孔后的颈部有暗色斑点形成的环。</h4>
            <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;喜欢栖息在亚热带海区的河口咸淡水交汇水域，生活在浅水区和多岩石处，休息或游玩都会集结在靠近沙滩的海域。其作息通常会与涨潮和日照的时间相配合，晨昏最为活跃，常在潮涨时觅食。食物主要是河口的咸淡水鱼类，也取食头足类，不经咀嚼快速吞食。通常在春季和夏季繁殖。经过10-12个月的妊娠期后，每胎产一仔，初生的幼豚体长约100厘米。</h4>
            <h4>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中华白海豚分布于从中国东南部经东南亚直到孟加拉湾的沿岸浅海区主要分布于西太平洋、东印度洋，广布于中国东南部沿海，属于国家一级保护动物，素有“水上大熊猫”之称。</h4>
                <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;列入《中国国家重点保护野生动物名录》一级。</h4>
            <a href="http://localhost:8888/productsPage" class="btn">推荐动物园：珠海长隆度假区</a>
        </div>
    </div>
    <div class="down">
        <div class="lin">
            <iframe src="//player.bilibili.com/player.html?isOutside=true&aid=888571509&bvid=BV1rK4y137XM&cid=351390308&p=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"  class="video"></iframe>
        </div>
    </div>
</div>
</body>
</html>