<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bnu.mapper.ProductMapper">
    <select id="findAllProducts" resultType="Product">
        select *
        from bt_product
    </select>

    <select id="findProductById" resultType="Product">
        select *
        from bt_product
        where id=#{id}
    </select>

    <select id="searchProductsByStr" parameterType="String" resultType="Product">
        select * from bt_product
        where 1=1
        <if test="searchStr!=null and searchStr!=''">
            AND name like '%' #{searchStr} '%'
            or introduction like '%' #{searchStr} '%'
            or price like '%' #{searchStr} '%'
            or pnum like '%' #{searchStr} '%'
            or sales like '%' #{searchStr} '%'
            or area like '%' #{searchStr} '%'
        </if>
    </select>
</mapper>